.mapboxgl-ctrl-group button+button {
  border-top: 1px solid;
}

.mapboxgl-ctrl-group button:focus {
  box-shadow:0 0 2px 2px #2196f3;
}

.mapboxgl-ctrl-group button:focus:focus-visible {
  box-shadow:0 0 2px 2px #2196f3;
}

.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.yellow {
  background: yellow;
}
