.page-child {
  min-height: 0;
  flex: auto;
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.yellow {
  background: yellow;
}
